.idea
web/.vscode
docker/data
test
node_client/data/keystore.db
node_client/__pycache__
node_client/common/__pycache__
server/common/__pycache__
server/server/__pycache__
server/device/__pycache__
server/device/migrations/__pycache__
node_client/config/__pycache__
server/core/__pycache__
testing/config/__pycache__
testing/core/__pycache__
testing/data/__pycache__
testing/testcases/__pycache__
testing/testcases/test_api_device/__pycache__
testing/log
